<h1>show all blogs of user</h1>
<%# debugger %>
<% @blog.each do |blog| %>
<p>
	<%# debugger %>
	<% if current_user.has_role? :admin %>
	<strong>name</strong>
	<%= blog.name %><br>

	<strong>title</strong>
	<%= blog.title %><br>

	<strong>description</strong>
	<%= blog.description %><br>
	<strong>User_id:</strong>
	<%= blog.user_id%><br>
	<strong>Blog</strong>
	<%= blog.status %><br>
	<% if blog.status == false %>
	<%= button_to 'is_approved', user_blog_blog_is_approved_path(blog.user_id,blog.id) %><br>
<% end %>
</p>
<% end %>
<% end %>
