<h1>Hello, Users!</h1>
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
<h2>Signed in as admin</h2>
<% else %>
<h2>Signed in as user </h2>
<% end %>
Logged in as <strong><%= current_user.email %></strong>.<br>
Logged in with full name <strong><%= current_user.first_name+current_user.last_name %></strong>.
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
<%= link_to 'New blog', new_user_blog_path(current_user) %><br> |
<%= link_to 'show all blog', user_blogs_path(current_user)%><br> 

<% else %>
<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
